<!DOCTYPE html>
<html>
<head>
  <title>Devices</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous" />
  <link
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
      rel="stylesheet" />
  <link
      href='/stylesheets/style.css'
      rel='stylesheet' />

  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>
  <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
  <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
  <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>

  <script src="/javascript/property.js"></script>
  <script src="/javascript/device.js"></script>
  <script src="/javascript/devicesviewmodel.js"></script>
  <script src="/javascript/devices.js"></script>

</head>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">

      <div class="dropleft" id="dropdownMenu" style="float: right">
        <button class="btn btn-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" id="addDeviceButton">Add Device</a>
          <a class="dropdown-item" href="#" id="deleteDevicesButton">Delete Devices</a>
          <a class="dropdown-item" href="/logout">Sign Out</a>
        </div>
      </div>

      <h3 data-bind="text: username"></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div data-bind="foreach: devices">
        <div class="deviceTile">
          <span class="deviceControl" data-bind="click: toggleState, class: tileState">
            <span class="deviceStatus" data-bind="text: mainState"></span>
          </span>
          <a class="displayName" data-bind="text: displayName, attr: {id: externalId}"></a>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="addDeviceDialog" title="Add Device" style="display: none;">
  <form action="/devices/create" method="POST">
    <div class="form-group">
      <label for="deviceType">Device Type: </label>
      <select class="custom-select" name="deviceType" id="deviceType">
        <option value="c2c-switch">Switch</option>
        <option value="c2c-dimmer">Dimmer</option>
        <option value="c2c-color-temperature-bulb">Tunable White Bulb</option>
        <option value="c2c-rgb-color-bulb">Full Color Bulb</option>
        <option value="c2c-rgbw-color-bulb">Full Color Tunable White Bulb</option>
        <option value="c2c-motion-2">Motion Sensor</option>
        <option value="d51dc1d9-d309-4200-ae45-452c91d41d7c">Motion & Temperature Sensor</option>
        <option value="c2c-motion-5">Motion, Temp & Illuminance Sensor</option>
        <option value="c2c-contact-3">Open/Close Sensor</option>
        <option value="5e5b9338-4ac5-4b35-a0b3-fb97a6787fa5">Heater</option>
        <option value="7a004f0c-db94-44d7-b206-c53866a9b745">Air Conditioner</option>
        <option value="f37767e0-496d-4df8-9119-3f68c0646c59">HVAC Thermostat</option>
        <option value="f3273146-84e3-4950-bb55-0ef1058c3858">Air Conditioner (staging)</option>
      </select>
    </div>
    <div class="form-group">
      <label for="displayName">Device Name: </label>
      <input type="text" name="displayName" id="displayName" class="form-control"/>
    </div>
    <div class="form-group" style="display: none;">
      <label for="expires_in">Token expiry (in seconds): </label>
      <input type="text" class="form-control" value="300000000" name="expires_in" id="expires_in"/>
    </div>
    <input class="btn btn-primary" type="submit" name="create" value="Create"/>
    <input id="cancelAddDeviceDialog" class="btn" type="button" value="Cancel"/>
  </form>
</div>

<div id="deleteDevicesDialog" title="Delete Devices" style="display: none;">
  <form action="/devices/delete" method="POST">
    <div class="form-group" data-bind="foreach: devices">
      <div class="deleteList">
        <input type="checkbox" name="deviceIds" data-bind="text: displayName, attr: {value: externalId}">
        <label data-bind="text: displayName"></label>
      </div>
    </div>
    <input class="btn btn-danger" type="submit" name="delete" value="Delete"/>
    <input id="cancelDeleteDevicesDialog" class="btn" type="button" value="Cancel"/>
  </form>
</div>

<div id="deviceDetailDialog" title="Device Details" data-bind="with: selectedDevice" style="display: none;">
  <h4 data-bind="text: displayName"></h4>
  <form>
    <div data-bind="foreach: displayStates">

      <div class="form-group" data-bind="if: isEnumControl">
        <label data-bind="text: displayName"></label>
        <select class="custom-select" data-bind="value: propertyValue, foreach: enumValues">
          <option data-bind="text: label, attr: {value: value}"></option>
        </select>
      </div>

      <div class="form-group" data-bind="if: isSliderControl">
        <label data-bind="text: displayName"></label>
        <span data-bind="text: propertyValue"></span>
        <input type="range" class="form-control-range" data-bind="value: propertyValue, attr: {min: sliderMin, max: sliderMax}">
      </div>

      <div class="form-group" data-bind="if: isNumberControl">
        <label data-bind="text: displayName"></label>
        <input type="number" class="number-control" data-bind="value: propertyValue">
      </div>

      <div class="form-group" data-bind="if: isFieldControl">
        <label data-bind="text: displayName"></label>
        <input type="text" class="custom-control" data-bind="value: propertyValue">
      </div>

    </div>
  </form>
</div>

</body>
</html>
