<!DOCTYPE html>
<html>
<head>
  <title>ST Schema OAuth Example</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous" />
  <link
      href='/stylesheets/style.css'
      rel='stylesheet' />

</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1>ST Schema OAuth Example</h1>
      <p>
        This applicatation consists of an example ST schema connector, an OAuth implementation to support
        connection to the SmartThings platform, and a web app for independent control of the virtual devices
        created by the connector.
      </p>

      <p>
        <a href="/devices">Get Started</a>
      </p>

    </div>
  </div>
</div>
</body>
</html>
