<!DOCTYPE html>
<html>
<head>
  <title>Redirect Test</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1>Redirect Test</h1>

<h2>Headers</h2>
<pre>
<%= headers %>
</pre>

<h2>Query Parameters</h2>
<pre>
<%= query %>
</pre>

</body>
</html>
