<!DOCTYPE html>
<html>
<head>
  <title>401 Invalid Auth Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1>401 Invalid Authorization Page Request</h1>
<% for (const msg of errorMessages) { %>
  <p><%= msg %> </p>
<% } %>
</body>
</html>