<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>ST Schema Connector</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">

      <h3>ST Schema Connector</h3>

      <% if (errorMessage) { %>
        <p class="errorMessage"><%= errorMessage %></p>
      <% } %>

      <form action="/oauth/login-as">
        <div class="form-group">
          <label for="email">Email: </label>
          <input type="email" class="form-control" name="email" id="email"/>
        </div>
        <div class="form-group">
          <label for="password">Password: </label>
          <input type="password" name="password" id="password" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="expires_in">Access token expiration: </label>
          <select class="custom-select" name="expires_in" id="expires_in">
            <option value="2538000">30 Days</option>
            <option value="84600" selected>24 Hours</option>
            <option value="3600">1 Hour</option>
            <option value="300">5 minutes</option>
            <option value="120">2 minutes</option>
            <option value="60">1 minute</option>
          </select>
        </div>
        <div class="form-group" id="oauth-buttons">
          <input class="oauth btn btn-primary" type="submit" name="signin" value="Sign In & Authorize"/>
          <input class="oauth btn btn-info" type="submit" name="register" value="Create New Account"/>
        </div>
      </form>
    </div>
    <div class="col-lg-3"></div>
  </div>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <p>
        This test application allows you to create virtual devices and import them into your SmartThings
        location using ST Schema. Virtual devices look and work just a real devices do in the SmartThings app.
        They respond to commands and generate events that can be used for automation triggers.
      </p>
      <p>
        This application does not use your SmartThings credentials for login. You can create an account with
        any username and password, just as you would in another IoT cloud app that you are integrating
        to SmartThings with ST Schema. Passwords you enter here are encrypted with a salted hash before
        storage, so that they aren't readable by anyone.
      </p>
    </div>
    <div class="col-lg-3"></div>
</div>
</body>
</html>
