<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>ST Schema Connector</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">

      <h3>ST Schema Connector</h3>

      <% if (errorMessage) { %>
        <p class="errorMessage"><%= errorMessage %></p>
      <% } %>

      <form action="/oauth/login-as">
        <div class="form-group">
          <label for="email">Email: </label>
          <input type="email" class="form-control" name="email" id="email"/>
        </div>
        <div class="form-group">
          <label for="password">Password: </label>
          <input type="password" name="password" id="password" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="expires_in">Token expiration: </label>
          <select class="custom-select" name="expires_in" id="expires_in">
            <option value="2538000">30 Days</option>
            <option value="84600" selected>1 Day</option>
            <option value="3600">1 Hour</option>
            <option value="300">5 minutes</option>
            <option value="120">2 minutes</option>
            <option value="60">1 minute</option>
          </select>
        </div>
        <div class="form-group" id="oauth-buttons">
          <input class="oauth btn btn-primary" type="submit" name="signin" value="Sign In & Authorize"/>
          <input class="oauth btn btn-info" type="submit" name="register" value="Create New Account"/>
        </div>
      </form>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>
</body>
</html>
